PORT=4500
MONGO_URI=mongodb://localhost:27017/bus_projection
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=consumers-service
KAFKA_GROUP_ID=sync-notify-group
KAFKA_BOOKING_TOPIC=booking.events
KAFKA_TRACKING_TOPIC=tracking.events
