PORT=4000
AUTH_SERVICE_URL=http://localhost:4100
BOOKING_SERVICE_URL=http://localhost:4200
SEARCH_SERVICE_URL=http://localhost:4300
TRACKING_SERVICE_URL=http://localhost:4400

WHATSAPP_SERVICE_URL=http://127.0.0.1:4700
